p {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    text-align: center;
    background-color: yellow;
}

figure {
    text-align: center;    
}

.title {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
  }

#Web_Title {
    color: red;
}